:host {
  @apply block;
}
.tab-heading {
  @apply border-primary-50 border-2 flex-1 p-2  bg-white rounded text-xl;
}
.tab-heading {
  @apply flex gap-2 flex-wrap items-center;
}
.tab-heading.active {
  @apply bg-primary-50 text-white;
}
.dynamic-content {
  background: #ffffffc9;
  padding: 8px;
  margin-top: 16px;
  min-height: 120px;
}
