:host {
  display: block;
}

$cardHeight: 420px;
$cardWidth: calc($cardHeight/3 * 2);

.playing-card {
  cursor: pointer;
  width: $cardWidth;
  height: $cardHeight;
  // background: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
// background
.playing-card {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    hsl(30 6% 94% / 1) 100%
  );
}

.card-statement-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 8px;
  margin-right: 8px;
  max-height: calc(100% - 128px);
}

.card-statement {
  overflow: auto;
}

.playing-card[data-suit="heart"],
.playing-card[data-suit="diamond"] {
  color: #d00;
}
.playing-card[data-suit="spade"],
.playing-card[data-suit="club"] {
  color: #222;
}
.playing-card[data-suit="heart"] .corner .suit::before {
  content: "♥";
}
.playing-card[data-suit="diamond"] .corner .suit::before {
  content: "♦";
}
.playing-card[data-suit="spade"] .corner .suit::before {
  content: "♠";
}
.playing-card[data-suit="club"] .corner .suit::before {
  content: "♣";
}

.playing-card {
  .rank,
  .suit {
    font-size: 24px;
  }
  .corner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
  }

  .top-left {
    top: 8px;
    left: 10px;
  }

  .bottom-right {
    bottom: 8px;
    right: 10px;
    transform: rotate(180deg);
  }
}

// alt card texture copied from https://codepen.io/Chokcoco/pen/OJWLXPY
// .playing-card {
//   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='roughpaper'><feTurbulence type='fractalNoise' baseFrequency='0.04' result='noise' numOctaves='5'/><feDiffuseLighting in='noise' lighting-color='%23fff' surfaceScale='2'><feDistantLight azimuth='45' elevation='60'/></feDiffuseLighting></filter><rect width='100%' height='100%' filter='url(%23roughpaper)'/></svg>");
//   background-size: cover; /* or 'contain', or '200px 200px' for tiling */
//   background-repeat: repeat; /* or 'no-repeat' */
//   background-color: #f8f5e4; /* fallback color */
// }
