:host {
  display: block;
}

$cardHeight: 420px;
$cardWidth: calc($cardHeight/3 * 2);

.playing-card {
  cursor: pointer;
  width: $cardWidth;
  height: $cardHeight;
  background: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  font-family: "Segoe UI", "Arial", sans-serif;
  color: #222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-statement-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 8px;
  margin-right: 8px;
  max-height: calc(100% - 128px);
}

.card-statement {
  overflow: auto;
  // display dynamic images centered
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    max-width: calc($cardWidth - 16px);
  }
  // remove margin from first p element
  p:first-of-type {
    margin-top: 0;
  }
}

.playing-card[data-suit="heart"],
.playing-card[data-suit="diamond"] {
  color: #d00;
}
.playing-card[data-suit="spade"],
.playing-card[data-suit="club"] {
  color: #222;
}
.playing-card[data-suit="heart"] .corner .suit::before {
  content: "♥";
}
.playing-card[data-suit="diamond"] .corner .suit::before {
  content: "♦";
}
.playing-card[data-suit="spade"] .corner .suit::before {
  content: "♠";
}
.playing-card[data-suit="club"] .corner .suit::before {
  content: "♣";
}

.playing-card {
  .rank,
  .suit {
    font-size: 24px;
  }
  .corner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
  }

  .top-left {
    top: 8px;
    left: 10px;
  }

  .bottom-right {
    bottom: 8px;
    right: 10px;
    transform: rotate(180deg);
  }
}
