<div class="playing-card" [attr.data-suit]="card().card_suit">
  <div class="corner top-left">
    <span class="rank">{{ card().card_value }}</span>
    <span class="suit"></span>
  </div>
  <div class="card-statement-container">
    <div
      class="card-statement dynamic-content"
      [innerHTML]="cardStatement()"
    ></div>
  </div>
  <!-- <div class="center-symbol">♠</div> -->
  <div class="corner bottom-right">
    <span class="rank">{{ card().card_value }}</span>
    <span class="suit"></span>
  </div>
</div>
