<div class="cards-container">
  @for(card of cards; track card.slug){
  <div>
    <h3 class="card-heading">{{ card.title }}</h3>

    <div
      class="playing-card"
      [routerLink]="['card', card.slug]"
      [attr.data-suit]="card.card_suit"
    >
      <div class="corner top-left">
        <span class="rank">{{ card.card_value }}</span>
        <span class="suit"></span>
      </div>
      <!-- <div class="center-symbol">♠</div> -->
      <div class="corner bottom-right">
        <span class="rank">{{ card.card_value }}</span>
        <span class="suit"></span>
      </div>
    </div>
  </div>
  }
</div>
