:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  max-width: 600px;
}
details.extension-details {
  @apply border-secondary-60 border-2 bg-white;
}

.extension-summary {
  @apply p-2 mt-2 mb-4;
}
