html {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
