:host {
  display: block;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-heading {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

app-playing-card {
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
  &:hover {
    transform: scale(1.03);
  }
}
