:host {
  display: block;
}

.cards-container {
  @apply flex flex-wrap justify-center gap-4 mt-4 mb-12;
}

.card-heading {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 370px;
  margin-bottom: 8px;
}

app-playing-card {
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
  &:hover {
    transform: scale(1.03);
  }
}
