@use "./theme/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Content dynamically injected into card statement and solution
.dynamic-content {
  // display dynamic images centered
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    // from playing-card component calc($cardWidth - 16px);
    max-width: 224px;
  }
  // remove margin from first p element
  p:first-of-type {
    margin-top: 0;
  }
  p {
    margin-top: 1rem;
  }
}
